@page "/addproduct"
@inject HttpClient HttpClient
@inject NavigationManager NavigationManager
@inject IJSRuntime JSRuntime
@rendermode InteractiveServer
@using BlazingParon.Models

<h3>Add Product</h3>


<div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name" placeholder="Enter name" @bind="product.Name">
</div>
<div class="form-group">
    <label for="price">Price</label>
    <input type="text" class="form-control" id="price" placeholder="Enter price" @bind="product.Price">
</div>
<div class="form-group">
    <label for="description">Description</label>
    <input type="text" class="form-control" id="description" placeholder="Enter description"
        @bind="product.Description">
</div>
<p></p>
<button type="submit" class="btn btn-primary" @onclick="AddProduct">Add Product</button>

@code {
    Product product = new Product();

    private async Task AddProduct()
    {
        var response = await HttpClient.PostAsJsonAsync(NavigationManager.BaseUri + "productsAPI", product);
        if (response.IsSuccessStatusCode)
        {
            NavigationManager.NavigateTo("/products");
        }
        else
        {
            await JSRuntime.InvokeVoidAsync("alert", "Error adding product");
        }
    }

}
